body {
    background-image: url("/imagens/puzzlebg.jpeg");
}
.fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
h1 {
    position: absolute;
    top: 15%;
    color: #fff;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
}
.botao {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 250px;
    height: 85px;
    border: 0;
    line-height: 2.0;
    padding: 0 20px;
    text-align: center;
    font-size: 2.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 35px;
    background-color: #758918;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    
}
.quadro{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    width: 1000px;
    height: 460px;
    text-align: center;
}
#quebra-cabeca{
    height: 400px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    display: none;
}
#quebra-cabeca div {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url(/imagens/puzzle2.jpg);
    background-size: 600px 400px;
    transition: 0.25s ease-in-out;
}
.botao:hover{
    box-shadow: inset 3px 3px 3px #9e9a41, inset -3px -3px 4px rgba(0, 0, 0, 0.6);
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
li {
    height: 40vh;
    padding: 8px;
}
li:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
#imagens{
    display: none;
    position: absolute;
    top:10%;
    right: 2%;
    left: 0.6%;
}
#imagens h2{
    font-size: 2.5em;
    font-family: sans-serif;
    color: #474747;
    font-family: Arial, Helvetica, sans-serif;
}